{{ define "params" }}
{{- if .args -}}
  {{- $argsCount := len .args -}}

  {{- range $i, $arg := .args -}}
  {{ $arg }} interface{}

  {{- if hasNext $i $argsCount -}}, {{ end }}
  {{- end -}}
  {{- end -}}
{{ end }}