package {{ .Package }}

import "github.com/dannykopping/errata/pkg/errors"

{{ range .Errors -}}
func {{ .Code | constantize }}Err() errors.Error {
    return errors.Error{
        Code: "{{ .Code }}",
        Message: "{{ .Message }}",
        Cause: "{{ .Cause }}",
        Categories: []string{ {{- .Categories | quote | list -}} },
        Labels: map[string]string{
          {{ range $key, $value := .Labels -}}
          "{{- $key -}}": "{{- $value -}}",
          {{- end }}
        },
        HTTP: errors.HTTP{StatusCode: {{ .HTTP.StatusCode -}} },
        Shell: errors.Shell{ExitCode: {{ .Shell.ExitCode -}} },
    }
}

{{ end -}}