<!DOCTYPE html>
<html lang="en">
<head>
  <title>Errata</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="https://github.com/xriley/CoderDocs-Theme">
  <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- FontAwesome JS-->
  <script defer src="/assets/fontawesome/js/all.min.js"></script>

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
  <link rel="stylesheet" href="/assets/plugins/simplelightbox/simple-lightbox.min.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="/assets/css/theme.css">

</head>

<body class="docs-page">
<header class="header fixed-top">
  <div class="branding docs-branding">
    <div class="container-fluid position-relative py-2">
      <div class="docs-logo-wrapper">
        <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="site-logo"><a class="navbar-brand" href="/"><img class="logo-icon me-2" src="/assets/images/coderdocs-logo.svg" alt="logo"><span class="logo-text">Errata</span></a></div>

        <div class="top-search-box d-lg-none p-3">
          <form class="search-form">
            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div><!--//docs-logo-wrapper-->
      <div class="docs-top-utilities d-flex justify-content-end align-items-center">
        <div class="top-search-box d-none d-lg-flex">
          <form class="search-form">
            <input type="text" placeholder="Search by error code..." name="search" class="form-control search-input">
            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
          </form>
        </div>

        <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
          <li class="list-inline-item"><a href="https://github.com/dannykopping/errata"><i class="fab fa-github fa-fw"></i></a></li>
        </ul><!--//social-list-->
      </div><!--//docs-top-utilities-->
    </div><!--//container-->
  </div><!--//branding-->
</header><!--//header-->