<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Errata</title>

</head>

<style type="text/css">
  body {
      background-color: #EFEFEF;
      color: #222222;
      font-family: sans-serif;
  }

  table {
      border: 1px solid #555555;
      border-collapse: collapse;
      border-spacing: unset;
  }

  tr td {
      border: 1px solid #555555;
      padding: 5px;
  }

  thead {
      background-color: #CCC;
  }
</style>

<body>
<table>
  <thead>
    <tr>
      <td>Code</td>
      <td>Message</td>
      <td>Cause</td>
    </tr>
  </thead>
  {{ range $code, $error := .Errors }}
  <tr>
    <td>{{ $code }}</td>
    {{- with $error.Definition -}}
    <td>{{ .message }}</td>
    <td>{{ .cause }}</td>
    {{- end -}}
  </tr>
  {{ end }}
</table>
</body>
</html>